<a href="https://colab.research.google.com/github/Zacfletch6/IS_submissions/blob/main/Final_project_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project

By Zachary Fletcher
12/1/2025

# Task 1
Import libraries and dataset

In [20]:
# imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

**Reason for each import:**
* pandas - I imported pandas to read the csv, create dataframes, and use descriptive methods like .describe(), .info(), .dtypes() and .isnull().
* numpy - Numpy is highly compatible with many libaries like sklearn, matplotlib, and pandas. It is good for doing calculations on dataframes.
* matplotlib - Matplotlib has various vizualizations which can be used during EDA and model evaluation.
* warnings - Many libraries illicit warnings each time a relevant model is used. They get annoying and so I remove them.

In [21]:
# import data

url = 'https://raw.githubusercontent.com/matthewpecsok/4482_fall_2024/main/data/census.csv'
raw_df = pd.read_csv(url)
df = raw_df.copy()

**What is a dataframe?**

A dataframe is an object from the pandas library, like a 2 way table with rows and columns.

# Task 2
High Level EDA

In [22]:
print('---Head---')
display(df.head())

print("\n---Dataframe Info---")
df.info()

print("\n---Data Types---")
display(df.dtypes)

print("\n---Null Values---")
display(df.isnull().sum())

print("\n---Descriptive Statistics---")
display(df.describe())

print('\n---Dataframe Shape---')
print(df.shape)

print("\n---Number of duplicate rows---")
print(df.duplicated().sum())

---Head---

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

---Dataframe Info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  y               32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

---Data Types---

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
y                 object
dtype: object

---Null Values---

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
y                 0
dtype: int64

---Descriptive Statistics---

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

---Dataframe Shape---
(32561, 15)

---Number of duplicate rows---
24

**Interpretation of high level EDA:**

There are 14 features within the dataset. There are no missing values within the column, so deletion and imputation should not be needed. There are 6 numerical features, 8 categorical features. A few columns may have outliers (hours-per-week, capital-gain, capital-loss). However, capital-gain and capital-loss also are very positively skewed. There are 24 duplicates.

# Task 3

Feature level EDA

In [ ]:
# show any relationships between columns
sns.pairplot(df)

In [ ]:
# statistics of numerical columns
display(df.describe())

In [ ]:
# Counts of each categorical column
cat_cols = df.select_dtypes(include='object')

for col in  cat_cols:
  plt.figure(figsize=(10, 6))
  sns.countplot(x=col, data=df)
  plt.xlabel(col)
  plt.ylabel('Count')
  plt.title(f'{col} Distribution')
  plt.xticks(rotation=90)
  plt.show()

In [ ]:
# Exact top 10 value counts of each column
for col in  cat_cols:
  print(f"\n---{col}---")
  display(df[col].value_counts().sort_values(ascending=False))

In [ ]:
# show boxplots for every
num_cols = df.select_dtypes(include='int64')

for col in  num_cols:
  plt.figure(figsize=(10, 6))
  sns.histplot(x=col, data=df)
  plt.xlabel(col)
  plt.ylabel('Count')
  plt.title(f'{col} Distribution')
  plt.xticks(rotation=90)
  plt.show()

In [ ]:
# show boxplots for every numerical column
num_cols = df.select_dtypes(include='int64')

for col in num_cols.columns:
  plt.figure(figsize=(10, 6))
  sns.boxplot(y=df[col])
  plt.ylabel(col)
  plt.title(f'Boxplot of {col}')
  plt.show()

In [ ]:
# Show correlation Between columns
correlation_matrix = num_cols.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Pairwise Correlation of Numerical Columns')
plt.show()

**Interpretations of each column:**
* age -
* work class -
* fnlwgt -
* education -
* education-num -
* marital-status -
* occupation -
* relationship -
* race -
* sex -
* capital-gain -
* capital-loss -
* hours-per-week -
* native-country -